body{
  font-size: 1.5vw;
  width: 100vw;
}

#message {
  text-align: center;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  height: 13em;
  overflow: scroll;
  border: 1px solid black;
}

#lights {
  display: grid;
  height: 6em;
  width: 20em;
  grid-template-columns: repeat(20, 1.25em);
  grid-template-rows: repeat(3, 2.5em);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.light {
  border-radius: 50%;
  border: 2px solid blue;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  grid-column-end: span 2;
}

#Alight{
  grid-column-start:2;
}

#Zlight {
  grid-column-start: 3;
}

.lit{
  background: yellow;
}

#keyboard {
  display: grid;
  height: 6em;
  width: 20em;
  grid-template-columns: repeat(20, 1.25em);
  grid-template-rows: repeat(3, 2.5em);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.key {
  border: 2px solid blue;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  grid-column-end: span 2;
}

#Akey {
  grid-column-start: 2;
}

#Zkey {
  grid-column-start: 3;
}